$TTL 86400;
@	IN	SOA	ns1.dns-kencang.	admin.dns-kencang.	(
						@serial ; Serial
						600        ; Refresh (10 minutes)
						600        ; Retry (10 minutes)
						604800     ; Expire (7 days)
						600        ; Minimum TTL (10 minutes)
						)

@			IN		NS	ns1.dns-kencang.
@			IN		A	ip-dns
ns1			IN		A	ip-dns
restrict	IN		A	ip-dns