$ORIGIN rpz.localhost.

partaikomunisindonesia.wordpress.com A 198.18.0.1
raymondibrahim.com A 198.18.0.1
buktidansaksi.com A 198.18.0.1
murtadinkafirun.forumotion.net A 198.18.0.1
mantanmuslim.com A 198.18.0.1
id.gatestoneinstitute.org A 198.18.0.1
indovestama.com A 198.18.0.1
idblackmarket.com A 198.18.0.1